TZ={{ portainer_timezone }}
PORTAINER_PORT={{ portainer_port }}
PORTAINER_DATA_PATH={{ portainer_data_path }}
PORTAINER_AGENT_SECRET={{ lookup('env', 'PORTAINER_AGENT_SECRET') }}
PORTAINER_LICENSE={{ lookup('env', 'PORTAINER_LICENSE') | default('', true) }}
