# Sample environment file for docker-compose
# Portainer will be exposed on host port 9080, mapped to container port 9000
PORTAINER_LICENSE=example
PORTAINER_PORT=9080
PORTAINER_AGENT_SECRET=replace-with-the-same-secret-used-by-every-portainer-agent
TZ=Australia/Sydney
PORTAINER_DATA_PATH=/volume1/dkrcfg/portainer
